---
import Carousel from "@/components/carousel.astro";
import Main from "../layouts/main.astro";
import MeteorsHeader from "@/components/meteors-header.astro";
---

<Main title="Home">
  <MeteorsHeader />
  <Carousel />
</Main>
