---
import StarryBackground from "@/components/client/stars";
import Main from "../layouts/main.astro";
import { Meteors } from "@/components/client/meteors";
---

<Main title="Home">
  <section class="max-h-96 h-[400px] relative overflow-hidden">
    <Meteors client:load number={6} />
    <StarryBackground numStars={50} />
  </section>
</Main>
