---
import SharedLoginForm from "@/components/shared/form.astro";
import Github from "@/icons/github.astro";
import Main from "@/layouts/main.astro";
---

<Main title="Sign In">
  <section class="max-w-[55ch] mx-auto p-8">
    <SharedLoginForm
      action="/api/signin"
      title="Sign In"
      description="Enter username and password to sign in."
      method="post"
      createAccount
    >
      <a
        class="flex items-center border border-black p-2 rounded-lg justify-center font-medium"
        href="/api/github"
      >
        <Github class="mr-2" />
        SIGN IN WITH GITHUB
      </a>
    </SharedLoginForm>
  </section>
</Main>

<style>
  form {
    margin-block: 2rem;
  }
</style>
