---
import "@egjs/flicking/dist/flicking.css";
---

<!-- Viewport element -->
<div id="carousel" class="flicking-viewport -mt-32">
    <!-- Camera element -->
    <div class="flicking-camera">
      <!-- Panels, class names are your choice -->
      <div class="size-[500px] bg-white mx-4 rounded-2xl"></div>
      <div class="size-[500px] bg-white mx-4 rounded-2xl"></div>
      <div class="size-[500px] bg-white mx-4 rounded-2xl"></div>
      <div class="size-[500px] bg-white mx-4 rounded-2xl"></div>
    </div>
</div>


<script>
    import Flicking from "@egjs/flicking";
    import { Perspective } from "@egjs/flicking-plugins";

    const flicking = new Flicking("#carousel", {
        align: "center",
        defaultIndex: 1,
        circular: true,
        bound: true,
        renderOnlyVisible: true
    });

    flicking.addPlugins(new Perspective({
        rotate: 0.5
    }));
</script>