---
import Login from "./login.astro";

const user = Astro.locals.user;
---

<nav class="flex justify-around items-center p-4 bg-black/10 backdrop-blur">
  <section>
    <h1>O-Isaac</h1>
  </section>

  <section class="flex items-center gap-4">
    <a href="/">Inicio</a>
    <a href="/">Contacto</a>
    <Login user={user} />
  </section>
</nav>
